################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/obj
/.vs/EcoTrack/v17
/.vs/EcoTrack
/Properties
/.vs
/bin/Debug/net8.0
